In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
df = pd.read_csv("Banglorehousingprices.csv")

In [2]:
df

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [3]:
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [4]:
#a
df['location'] = df['location'].fillna(df['location'].mode().iloc[0])
df['size'] = df['size'].fillna(df['size'].mode().iloc[0])
df['bath'] = df['bath'].fillna(df['bath'].mean())

In [5]:
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [7]:
#b
df['BHK'] = df['size'].apply(lambda x: int(x.split()[0]) if isinstance(x, str) else None)

In [13]:
print(df.head())

   total_sqft  bath  BHK   price
0      1056.0   2.0    2   39.07
1      2600.0   5.0    4  120.00
2      1440.0   2.0    3   62.00
3      1521.0   3.0    3   95.00
4      1200.0   2.0    2   51.00

In [9]:
#c
# Function to convert total_sqft to a single float value 
def convert_sqft(x):
    try:
        if '-' in x:
            low, high = x.split('-')
            return (float(low) + float(high)) / 2
        else:
            return float(x)
    except:
        return None

# Apply the function to the 'total_sqft' column
df['total_sqft'] = df['total_sqft'].apply(convert_sqft)

# Drop rows where conversion failed (i.e., None values)
df.dropna(subset=['total_sqft'], inplace=True)

In [10]:
#d
df['price_per_sqft'] = (df['price'] * 100000) / df['total_sqft']

In [11]:

print(df[['size', 'BHK', 'price_per_sqft']].head())

        size  BHK  price_per_sqft
0      2 BHK    2     3699.810606
1  4 Bedroom    4     4615.384615
2      3 BHK    3     4305.555556
3      3 BHK    3     6245.890861
4      2 BHK    2     4250.000000

In [12]:
# f) Linear Regression
df = df[['total_sqft', 'bath', 'BHK', 'price']]
X = df.drop('price', axis=1)
y = df['price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = LinearRegression()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"\nMean Squared Error: {mse:.2f}")
print(f"R² Score (Accuracy): {r2:.2f}")
sns.boxplot(

Mean Squared Error: 16659.64
R² Score (Accuracy): 0.45